<div class="card search">
    <h1 class="search-headline">Artist Directory</h1>
    <label class="search-label"> 
        <span *ngIf="query"> seach for {{query}}</span>
        <input class="search-input" [(ngModel)]="query"/>
    </label>
</div>

<ul class="artistlist cf" *ngIf="query">
    <li class="artistlist-item cf" *ngFor="let item of (artists | search:query)" 
        (click)="showArtist(item); query=''">
        <artist-item class="content" [artist]=item></artist-item>
    </li>
</ul>

<artist-details *ngIf="currentArtist" [artist]=currentArtist></artist-details>